@media (max-width: 425px) {
  .testimonials {
    max-width: fit-content;
  }
  .top-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .top-section-left {
    text-align: center;
    padding-right: 0;
    margin: 2rem;
  }

  .top-heading {
    font-size: 3.6rem;
    padding-top: 2rem;
    margin-left: 4.4rem;
    margin-right: 4.4rem;
  }

  .rating-box {
    width: 385px;
    flex-direction: column;
    gap: 0.8rem;
  }

  .rating-box:nth-child(2) {
    margin-left: 0;
  }

  .rating-box:nth-child(3) {
    margin-left: 0;
  }

  .ratings .rating-box {
    margin-left: 2rem;
  }

  .bottom-section {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
  }

  .buyer-testimonial:nth-child(2) {
    margin-top: 0;
  }

  .buyer-testimonial:nth-child(3) {
    margin-top: 0;
  }
}
